/* Table.css */
.Table {
  width: 100%; 
  border-collapse: collapse;
}

.Table th,
.Table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word; 
}

.Table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.Table table {
  width: 100%;
}
